APScheduler==3.6.3
asgiref==3.2.10
beautifulsoup4==4.8.2
bs4==0.0.1
certifi==2019.11.28
chardet==3.0.4
Django==3.1
djangorestframework==3.11.0
djangorestframework-simplejwt==4.4.0
feedparser==5.2.1
idna==2.9
Pillow==7.0.0
PyJWT==1.7.1
python-telegram-bot==12.4.2
pytz==2019.3
requests==2.23.0
six==1.14.0
soupsieve==2.0
sqlparse==0.3.1
tzlocal==2.0.0
Unidecode==1.1.1
urllib3==1.25.8

